[submodule "node_modules/buster"]
	path = node_modules/buster
	url = git@git.cjohansen.no:buster-js/buster.git
[submodule "node_modules/sinon"]
	path = node_modules/sinon
	url = git@github.com:cjohansen/Sinon.JS.git
